---
# Retraining the RNN model on the entire dataset for deployment
---

In this notebook, we will try to build an RNN model that will forecast the daily variability (with seasonal variability) of maximum/minimum temperatures and its variation caused by climate change for the climate weather station located in Downtown Montreal.

### Loading necessary libraries

In [2]:
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 

import joblib

from sklearn.preprocessing import MinMaxScaler

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout
from tensorflow.keras.layers import GRU
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import load_model

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

### Define files

In [4]:
#data_dir = '../data/'
data_dir = 'C:\\Users\\jocl0\\ABF\\Final_Project-main\\data\\'
model_dir = 'C:\\Users\\jocl0\\ABF\\Final_Project-main\\model\\'

#ghg = 'GreenHouse_Gases/processed/'
ghg = 'GreenHouse_Gases\\processed\\'

frequency = 'DLY'

climate_file = 'ECCC\\processed\\daily\\daily_processed.csv'
#climate_file = 'ECCC/processed/daily/daily_processed.csv'
#climate_file = 'ECCC/processed/monthly/monthly_processed.csv'

population_file = 'Population\\processed\\Montreal.csv'
#population_file = 'Population/processed/Montreal.csv'

co2_file = 'co2_1850-2099_SSP2_45.csv'
ch4_file = 'ch4_1850-2099_SSP2_45.csv'

scenario = 'SSP2-45'

### Define variables

**Daily**

In [7]:
Tmax = 'Max Temp (°C)'
Tmin =  'Min Temp (°C)' 
Tmean = 'Mean Temp (°C)'

cols = ['Max Temp (°C)', 'Max Temp Flag', 'Min Temp (°C)', 'Min Temp Flag',
       'Mean Temp (°C)', 'Mean Temp Flag', 'Heat Deg Days (°C)',
       'Heat Deg Days Flag', 'Cool Deg Days (°C)', 'Cool Deg Days Flag',
       'Total Rain (mm)', 'Total Rain Flag', 'Total Snow (cm)',
       'Total Snow Flag', 'Total Precip (mm)', 'Total Precip Flag',
       'Snow on Grnd (cm)', 'Snow on Grnd Flag', 'Dir of Max Gust (10s deg)',
       'Dir of Max Gust Flag', 'Spd of Max Gust (km/h)',
       'Spd of Max Gust Flag']

**Monthly**

Tmax = 'Tm'
Tmin =  'Tx' 
Tmean = 'Tn'

cols = ['Tm', 'DwTm', 'D', 'Tx', 'DwTx', 'Tn', 'DwTn', 'S',
       'DwS', 'S%N', 'P', 'DwP', 'P%N', 'S_G', 'Pd', 'BS', 'DwBS', 'BS%',
       'HDD', 'CDD']

### Read data files

In [10]:
co2_df = pd.read_csv(os.path.join(data_dir, ghg, co2_file), index_col=0, parse_dates=True)
co2_df.drop(columns = 'Data Source', inplace=True)
co2_df

                   CO2
Year
1850-01-01  285.200000
1851-01-01  285.100000
1852-01-01  285.000000
1853-01-01  285.000000
1854-01-01  284.900000
...                ...
2095-01-01  600.885986
2096-01-01  601.365967
2097-01-01  601.796997
2098-01-01  602.177002
2099-01-01  602.505005

[250 rows x 1 columns]

In [11]:
ch4_df = pd.read_csv(os.path.join(data_dir, ghg, ch4_file), index_col=0, parse_dates=True)
ch4_df

                    CH4
Year
1850-01-01   791.600000
1851-01-01   792.859068
1852-01-01   794.156502
1853-01-01   795.493289
1854-01-01   796.859405
...                 ...
2095-01-01  1698.879883
2096-01-01  1695.429810
2097-01-01  1692.139893
2098-01-01  1689.009888
2099-01-01  1686.019897

[250 rows x 1 columns]

In [12]:
pop_df = pd.read_csv(os.path.join(data_dir, population_file), index_col=0, parse_dates=True)
pop_df

              Population
1801-01-01  9.000000e+03
1802-01-01  9.389547e+03
1803-01-01  9.788026e+03
1804-01-01  1.019544e+04
1805-01-01  1.061293e+04
...                  ...
2095-01-01  2.258385e+06
2096-01-01  2.249969e+06
2097-01-01  2.240726e+06
2098-01-01  2.230707e+06
2099-01-01  2.219886e+06

[299 rows x 1 columns]

In [13]:
wx_df = pd.read_csv(os.path.join(data_dir, climate_file), index_col=0, parse_dates=True)
wx_df

C:\Users\jocl0\AppData\Local\Temp\ipykernel_17796\1851272773.py:1: DtypeWarning: Columns (5,11,13,15,17,19,27,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  wx_df = pd.read_csv(os.path.join(data_dir, climate_file), index_col=0, parse_dates=True)

,Station,Longitude (x),Latitude (y),Station Name,Climate ID,Year,Month,Day,Data Quality,Max Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
Date/Time,,,,,,,,,,,,,,,,,,,,,
1891-10-22,Montreal (McTavish/McGill),-73.58,45.5,MONTREAL MCGILL,7025280,1891,10,22,NaN,5.6,...,0.0,T,0.0,T,NaN,NaN,NaN,NaN,NaN,NaN
1891-10-23,Montreal (McTavish/McGill),-73.58,45.5,MONTREAL MCGILL,7025280,1891,10,23,NaN,3.9,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1891-10-24,Montreal (McTavish/McGill),-73.58,45.5,MONTREAL MCGILL,7025280,1891,10,24,NaN,5.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1891-10-25,Montreal (McTavish/McGill),-73.58,45.5,MONTREAL MCGILL,7025280,1891,10,25,NaN,3.3,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1891-10-26,Montreal (McTavish/McGill),-73.58,45.5,MONTREAL MCGILL,7025280,1891,10,26,NaN,10.6,...,0.0,NaN,4.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-03-23,Montreal (McTavish/McGill),-73.58,45.5,MCTAVISH,7024745,2025,3,23,NaN,-1.6,...,NaN,NaN,0.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN
2025-03-24,Montreal (McTavish/McGill),-73.58,45.5,MCTAVISH,7024745,2025,3,24,NaN,3.9,...,NaN,NaN,6.7,NaN,9.0,NaN,NaN,NaN,NaN,NaN
2025-03-25,Montreal (McTavish/McGill),-73.58,45.5,MCTAVISH,7024745,2025,3,25,NaN,4.5,...,NaN,NaN,1.1,NaN,11.0,NaN,NaN,NaN,NaN,NaN
2025-03-26,Montreal (McTavish/McGill),-73.58,45.5,MCTAVISH,7024745,2025,3,26,NaN,4.8,...,NaN,NaN,0.4,NaN,4.0,NaN,NaN,NaN,NaN,NaN
2025-03-27,Montreal (McTavish/McGill),-73.58,45.5,MCTAVISH,7024745,2025,3,27,NaN,7.1,...,NaN,NaN,0.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN

### Adding columns of lagged temperature features (yesterday's min/max temperature)

In [14]:
wx_df['tmin_lag1'] = wx_df[Tmin].shift(1)
wx_df['tmax_lag1'] = wx_df[Tmax].shift(1)
wx_df

,Station,Longitude (x),Latitude (y),Station Name,Climate ID,Year,Month,Day,Data Quality,Max Temp (°C),...,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag,tmin_lag1,tmax_lag1
Date/Time,,,,,,,,,,,,,,,,,,,,,
1891-10-22,Montreal (McTavish/McGill),-73.58,45.5,MONTREAL MCGILL,7025280,1891,10,22,NaN,5.6,...,0.0,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1891-10-23,Montreal (McTavish/McGill),-73.58,45.5,MONTREAL MCGILL,7025280,1891,10,23,NaN,3.9,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.7,5.6
1891-10-24,Montreal (McTavish/McGill),-73.58,45.5,MONTREAL MCGILL,7025280,1891,10,24,NaN,5.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.1,3.9
1891-10-25,Montreal (McTavish/McGill),-73.58,45.5,MONTREAL MCGILL,7025280,1891,10,25,NaN,3.3,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.2,5.0
1891-10-26,Montreal (McTavish/McGill),-73.58,45.5,MONTREAL MCGILL,7025280,1891,10,26,NaN,10.6,...,4.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.3,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-03-23,Montreal (McTavish/McGill),-73.58,45.5,MCTAVISH,7024745,2025,3,23,NaN,-1.6,...,0.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN,-7.5,10.7
2025-03-24,Montreal (McTavish/McGill),-73.58,45.5,MCTAVISH,7024745,2025,3,24,NaN,3.9,...,6.7,NaN,9.0,NaN,NaN,NaN,NaN,NaN,-9.8,-1.6
2025-03-25,Montreal (McTavish/McGill),-73.58,45.5,MCTAVISH,7024745,2025,3,25,NaN,4.5,...,1.1,NaN,11.0,NaN,NaN,NaN,NaN,NaN,-4.6,3.9
2025-03-26,Montreal (McTavish/McGill),-73.58,45.5,MCTAVISH,7024745,2025,3,26,NaN,4.8,...,0.4,NaN,4.0,NaN,NaN,NaN,NaN,NaN,0.9,4.5
2025-03-27,Montreal (McTavish/McGill),-73.58,45.5,MCTAVISH,7024745,2025,3,27,NaN,7.1,...,0.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN,-0.3,4.8

### Remove incomplete start and end year of climate dataset

In [16]:
tmp = wx_df.groupby(['Year']).count()

tmp[tmp['Station'] < 365]

,Station,Longitude (x),Latitude (y),Station Name,Climate ID,Month,Day,Data Quality,Max Temp (°C),Max Temp Flag,...,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag,tmin_lag1,tmax_lag1
Year,,,,,,,,,,,,,,,,,,,,,
1891,71,71,71,71,71,71,71,0,71,0,...,71,10,0,0,0,0,0,0,70,70
2025,86,86,86,86,86,86,86,0,86,0,...,85,1,86,0,27,0,27,0,86,86

In [17]:
start_wx = wx_df.index.min()
end_wx = wx_df.index.max()
print(type(start_wx), end_wx)

for year in [start_wx, end_wx] :

    nbr_days_year = 366 if pd.Period(year, freq='Y').is_leap_year else 365

    yr = int(year.strftime('%Y'))
    nbr_obs_year = tmp[tmp.index == yr]['Station'].values[0]

    print('*',yr, nbr_obs_year, '*')
    
    if nbr_obs_year != nbr_days_year :
        print(f'Not full year. Removing partial {yr} from dataframe')
        wx_df = wx_df[wx_df['Year'] != yr]

        start_wx = wx_df.index.min()
        end_wx = wx_df.index.max()
    else :
        print(f'Full year. Not removing {yr} from obs dataframe.')
    
wx_df

<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2025-03-27 00:00:00
* 1891 71 *
Not full year. Removing partial 1891 from dataframe
* 2025 86 *
Not full year. Removing partial 2025 from dataframe

,Station,Longitude (x),Latitude (y),Station Name,Climate ID,Year,Month,Day,Data Quality,Max Temp (°C),...,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag,tmin_lag1,tmax_lag1
Date/Time,,,,,,,,,,,,,,,,,,,,,
1892-01-01,Montreal (McTavish/McGill),-73.58,45.5,MONTREAL MCGILL,7025280,1892,1,1,NaN,-5.6,...,0.0,T,NaN,NaN,NaN,NaN,NaN,NaN,-18.3,-10.6
1892-01-02,Montreal (McTavish/McGill),-73.58,45.5,MONTREAL MCGILL,7025280,1892,1,2,NaN,6.7,...,11.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-11.7,-5.6
1892-01-03,Montreal (McTavish/McGill),-73.58,45.5,MONTREAL MCGILL,7025280,1892,1,3,NaN,2.2,...,11.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6.1,6.7
1892-01-04,Montreal (McTavish/McGill),-73.58,45.5,MONTREAL MCGILL,7025280,1892,1,4,NaN,-7.2,...,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.8,2.2
1892-01-05,Montreal (McTavish/McGill),-73.58,45.5,MONTREAL MCGILL,7025280,1892,1,5,NaN,-12.2,...,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-15.0,-7.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-27,Montreal (McTavish/McGill),-73.58,45.5,MCTAVISH,7024745,2024,12,27,NaN,-6.1,...,0.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,-13.7,-7.9
2024-12-28,Montreal (McTavish/McGill),-73.58,45.5,MCTAVISH,7024745,2024,12,28,NaN,-1.7,...,0.2,NaN,11.0,NaN,NaN,NaN,NaN,NaN,-13.2,-6.1
2024-12-29,Montreal (McTavish/McGill),-73.58,45.5,MCTAVISH,7024745,2024,12,29,NaN,7.6,...,5.2,NaN,11.0,NaN,NaN,NaN,NaN,NaN,-9.6,-1.7
2024-12-30,Montreal (McTavish/McGill),-73.58,45.5,MCTAVISH,7024745,2024,12,30,NaN,10.6,...,10.3,NaN,5.0,NaN,20.0,NaN,32.0,NaN,-2.6,7.6
2024-12-31,Montreal (McTavish/McGill),-73.58,45.5,MCTAVISH,7024745,2024,12,31,NaN,6.3,...,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.3,10.6

### Put the GreenHouse Gases dataframe and population dataframe on the same frequency as the climate data

In [26]:
if frequency == 'DLY':
    new_range = pd.date_range(start = start_wx, end = end_wx, freq="D")
    print(new_range)
    
    co2_df = co2_df.reindex(new_range)
    co2_df = co2_df.resample('D').interpolate()

    ch4_df = ch4_df.reindex(new_range)
    ch4_df = ch4_df.resample('D').interpolate()

    pop_df = pop_df.reindex(new_range)
    pop_df = pop_df.resample('D').interpolate()
    
elif frequency == 'MLY':
    new_range = pd.date_range(start = start_wx, end = end_wx, freq="ME")
    print(new_range)

    co2_df = co2_df.reindex(new_range)
    co2_df = co2_df.resample('ME').interpolate()

    ch4_df = ch4_df.reindex(new_range)
    ch4_df = ch4_df.resample('ME').interpolate()

    pop_df = pop_df.reindex(new_range)
    pop_df = pop_df.resample('ME').interpolate()
else :
    print('Frequency is NOT monthly or daily')

DatetimeIndex(['1892-01-01', '1892-01-02', '1892-01-03', '1892-01-04',
               '1892-01-05', '1892-01-06', '1892-01-07', '1892-01-08',
               '1892-01-09', '1892-01-10',
               ...
               '2024-12-22', '2024-12-23', '2024-12-24', '2024-12-25',
               '2024-12-26', '2024-12-27', '2024-12-28', '2024-12-29',
               '2024-12-30', '2024-12-31'],
              dtype='datetime64[ns]', length=48578, freq='D')

In [27]:
co2_df

                   CO2
1892-01-01  294.800000
1892-01-02  294.799727
1892-01-03  294.799454
1892-01-04  294.799180
1892-01-05  294.798907
...                ...
2024-12-27  424.610000
2024-12-28  424.610000
2024-12-29  424.610000
2024-12-30  424.610000
2024-12-31  424.610000

[48578 rows x 1 columns]

In [28]:
ch4_df

                    CH4
1892-01-01   859.921329
1892-01-02   859.925885
1892-01-03   859.930442
1892-01-04   859.934998
1892-01-05   859.939554
...                 ...
2024-12-27  1934.802141
2024-12-28  1934.802141
2024-12-29  1934.802141
2024-12-30  1934.802141
2024-12-31  1934.802141

[48578 rows x 1 columns]

In [29]:
pop_df

              Population
1892-01-01  2.609199e+05
1892-01-02  2.609370e+05
1892-01-03  2.609540e+05
1892-01-04  2.609711e+05
1892-01-05  2.609881e+05
...                  ...
2024-12-27  2.200807e+06
2024-12-28  2.200807e+06
2024-12-29  2.200807e+06
2024-12-30  2.200807e+06
2024-12-31  2.200807e+06

[48578 rows x 1 columns]

### Put all the data into a single dataframe

In [325]:
full_df = pd.concat([co2_df, ch4_df, pop_df, wx_df[[Tmax,Tmin]], wx_df[['tmin_lag1', 'tmax_lag1']]], axis=1)
full_df

,CO2,CH4,Population,Max Temp (°C),Min Temp (°C),tmin_lag1,tmax_lag1
1892-01-01,294.800000,859.921329,2.609199e+05,-5.6,-11.7,-18.3,-10.6
1892-01-02,294.799727,859.925885,2.609370e+05,6.7,-6.1,-11.7,-5.6
1892-01-03,294.799454,859.930442,2.609540e+05,2.2,-7.8,-6.1,6.7
1892-01-04,294.799180,859.934998,2.609711e+05,-7.2,-15.0,-7.8,2.2
1892-01-05,294.798907,859.939554,2.609881e+05,-12.2,-16.7,-15.0,-7.2
...,...,...,...,...,...,...,...
2024-12-27,424.610000,1934.802141,2.200807e+06,-6.1,-13.2,-13.7,-7.9
2024-12-28,424.610000,1934.802141,2.200807e+06,-1.7,-9.6,-13.2,-6.1
2024-12-29,424.610000,1934.802141,2.200807e+06,7.6,-2.6,-9.6,-1.7
2024-12-30,424.610000,1934.802141,2.200807e+06,10.6,3.3,-2.6,7.6
2024-12-31,424.610000,1934.802141,2.200807e+06,6.3,1.6,3.3,10.6

### Add a day of the year column and the sin curve forcing column

In [135]:
full_df['dayofyear'] = full_df.index.dayofyear
full_df['sin'] = 80 * np.sin((np.pi/(365+31)) * full_df['dayofyear']) -30
full_df

,CO2,CH4,Population,Max Temp (°C),Min Temp (°C),tmin_lag1,tmax_lag1,dayofyear,sin
1892-01-01,294.800000,859.921329,2.609199e+05,-5.6,-11.7,-18.3,-10.6,1,-29.365341
1892-01-02,294.799727,859.925885,2.609370e+05,6.7,-6.1,-11.7,-5.6,2,-28.730723
1892-01-03,294.799454,859.930442,2.609540e+05,2.2,-7.8,-6.1,6.7,3,-28.096184
1892-01-04,294.799180,859.934998,2.609711e+05,-7.2,-15.0,-7.8,2.2,4,-27.461765
1892-01-05,294.798907,859.939554,2.609881e+05,-12.2,-16.7,-15.0,-7.2,5,-26.827506
...,...,...,...,...,...,...,...,...,...
2024-12-27,424.610000,1934.802141,2.200807e+06,-6.1,-13.2,-13.7,-7.9,362,-8.682095
2024-12-28,424.610000,1934.802141,2.200807e+06,-1.7,-9.6,-13.2,-6.1,363,-9.294476
2024-12-29,424.610000,1934.802141,2.200807e+06,7.6,-2.6,-9.6,-1.7,364,-9.908161
2024-12-30,424.610000,1934.802141,2.200807e+06,10.6,3.3,-2.6,7.6,365,-10.523110
2024-12-31,424.610000,1934.802141,2.200807e+06,6.3,1.6,3.3,10.6,366,-11.139285

### Separate RNN input and output data

In [143]:
cols_in = ['CH4', 'CO2', 'Population', 'tmin_lag1', 'tmax_lag1', 'sin']
cols_out = [Tmax, Tmin]

X_train = full_df[cols_in]
Y_train = full_df[cols_out]

In [ ]:
X_train

### Scale the dataset

In [147]:
scaler_x = MinMaxScaler()
scaler_y = MinMaxScaler()

X_scaled_train = scaler_x.fit_transform(X_train)
Y_scaled_train = scaler_y.fit_transform(Y_train)

### TimeSeries Generator

In [153]:
window_size = 31

ts_generator = TimeseriesGenerator(X_scaled_train, 
                                   Y_scaled_train,
                                   length=window_size,
                                   batch_size=64)

ts_generator[0]

(array([[[0.00000000e+00, 8.21665754e-04, 0.00000000e+00, 2.62184874e-01,
          2.79389313e-01, 0.00000000e+00],
         [4.40288378e-06, 8.19420766e-04, 1.13552697e-05, 3.73109244e-01,
          3.55725191e-01, 7.99616772e-03],
         [8.80576755e-06, 8.17175778e-04, 2.27105395e-05, 4.67226891e-01,
          5.43511450e-01, 1.59913289e-02],
         ...,
         [1.23280746e-04, 7.58806079e-04, 3.17947553e-04, 3.27731092e-01,
          3.64885496e-01, 2.21868815e-01],
         [1.27683629e-04, 7.56561091e-04, 3.29302823e-04, 4.11764706e-01,
          3.64885496e-01, 2.29647551e-01],
         [1.32086513e-04, 7.54316102e-04, 3.40658092e-04, 4.11764706e-01,
          3.31297710e-01, 2.37411330e-01]],

        [[4.40288378e-06, 8.19420766e-04, 1.13552697e-05, 3.73109244e-01,
          3.55725191e-01, 7.99616772e-03],
         [8.80576755e-06, 8.17175778e-04, 2.27105395e-05, 4.67226891e-01,
          5.43511450e-01, 1.59913289e-02],
         [1.32086513e-05, 8.14930789e-04, 3.40658092e-05, 4.38655462e-01,
          4.74809160e-01, 2.39849803e-02],
         ...,
         [1.27683629e-04, 7.56561091e-04, 3.29302823e-04, 4.11764706e-01,
          3.64885496e-01, 2.29647551e-01],
         [1.32086513e-04, 7.54316102e-04, 3.40658092e-04, 4.11764706e-01,
          3.31297710e-01, 2.37411330e-01],
         [1.36489397e-04, 7.52071114e-04, 3.52013362e-04, 4.01680672e-01,
          3.38931298e-01, 2.45159664e-01]],

        [[8.80576755e-06, 8.17175778e-04, 2.27105395e-05, 4.67226891e-01,
          5.43511450e-01, 1.59913289e-02],
         [1.32086513e-05, 8.14930789e-04, 3.40658092e-05, 4.38655462e-01,
          4.74809160e-01, 2.39849803e-02],
         [1.76115351e-05, 8.12685801e-04, 4.54210790e-05, 3.17647059e-01,
          3.31297710e-01, 3.19766189e-02],
         ...,
         [1.32086513e-04, 7.54316102e-04, 3.40658092e-04, 4.11764706e-01,
          3.31297710e-01, 2.37411330e-01],
         [1.36489397e-04, 7.52071114e-04, 3.52013362e-04, 4.01680672e-01,
          3.38931298e-01, 2.45159664e-01],
         [1.40892281e-04, 7.49826126e-04, 3.63368632e-04, 4.48739496e-01,
          4.67175573e-01, 2.52892065e-01]],

        ...,

        [[2.68575910e-04, 6.84721462e-04, 6.92671454e-04, 2.99159664e-01,
          3.74045802e-01, 4.68051000e-01],
         [2.72978794e-04, 6.82476474e-04, 7.04026724e-04, 2.80672269e-01,
          3.05343511e-01, 4.75084712e-01],
         [2.77381678e-04, 6.80231485e-04, 7.15381994e-04, 3.17647059e-01,
          3.55725191e-01, 4.82088020e-01],
         ...,
         [3.91856656e-04, 6.21861787e-04, 1.01061901e-03, 5.22689076e-01,
          5.00763359e-01, 6.52100769e-01],
         [3.96259540e-04, 6.19616798e-04, 1.02197428e-03, 5.14285714e-01,
          4.74809160e-01, 6.58123477e-01],
         [4.00662424e-04, 6.17371810e-04, 1.03332955e-03, 4.85714286e-01,
          5.17557252e-01, 6.64104262e-01]],

        [[2.72978794e-04, 6.82476474e-04, 7.04026724e-04, 2.80672269e-01,
          3.05343511e-01, 4.75084712e-01],
         [2.77381678e-04, 6.80231485e-04, 7.15381994e-04, 3.17647059e-01,
          3.55725191e-01, 4.82088020e-01],
         [2.81784562e-04, 6.77986497e-04, 7.26737264e-04, 3.73109244e-01,
          3.98473282e-01, 4.89060484e-01],
         ...,
         [3.96259540e-04, 6.19616798e-04, 1.02197428e-03, 5.14285714e-01,
          4.74809160e-01, 6.58123477e-01],
         [4.00662424e-04, 6.17371810e-04, 1.03332955e-03, 4.85714286e-01,
          5.17557252e-01, 6.64104262e-01],
         [4.05065307e-04, 6.15126822e-04, 1.04468482e-03, 5.22689076e-01,
          5.77099237e-01, 6.70042746e-01]],

        [[2.77381678e-04, 6.80231485e-04, 7.15381994e-04, 3.17647059e-01,
          3.55725191e-01, 4.82088020e-01],
         [2.81784562e-04, 6.77986497e-04, 7.26737264e-04, 3.73109244e-01,
          3.98473282e-01, 4.89060484e-01],
         [2.86187445e-04, 6.75741508e-04, 7.38092533e-04, 4.48739496e-01,
          4.67175573e-01, 4.96001664e-01],
         ...,
         [4.00662424e-04, 6.17371810e-04, 1.03332955e-03, 4.85714286e-01,
          5.17557252e-01, 6.64104262e-01],
         [4.05065307e-04, 6.15126822e-04, 1.04468482e-03, 5.22689076e-01,
          5.77099237e-01, 6.70042746e-01],
         [4.09468191e-04, 6.12881833e-04, 1.05604009e-03, 6.25210084e-01,
          5.67938931e-01, 6.75938557e-01]]]),
 array([[0.46717557, 0.4487395 ],
        [0.41526718, 0.4302521 ],
        [0.40763359, 0.46722689],
        [0.39847328, 0.41176471],
        [0.31450382, 0.30756303],
        [0.27938931, 0.22352941],
        [0.33129771, 0.34621849],
        [0.38167939, 0.43865546],
        [0.43206107, 0.4487395 ],
        [0.3740458 , 0.38319328],
        [0.39847328, 0.36470588],
        [0.38167939, 0.28907563],
        [0.19541985, 0.18655462],
        [0.29770992, 0.22352941],
        [0.45038168, 0.37310924],
        [0.26259542, 0.28907563],
        [0.27175573, 0.29915966],
        [0.33129771, 0.24369748],
        [0.3740458 , 0.30756303],
        [0.42442748, 0.45714286],
        [0.45801527, 0.54117647],
        [0.47480916, 0.5512605 ],
        [0.49160305, 0.5512605 ],
        [0.49160305, 0.49579832],
        [0.48396947, 0.51428571],
        [0.50076336, 0.30756303],
        [0.26259542, 0.18655462],
        [0.31450382, 0.21512605],
        [0.39847328, 0.31764706],
        [0.3740458 , 0.29915966],
        [0.30534351, 0.28067227],
        [0.35572519, 0.31764706],
        [0.39847328, 0.37310924],
        [0.46717557, 0.4487395 ],
        [0.41526718, 0.49579832],
        [0.47480916, 0.54117647],
        [0.47480916, 0.48571429],
        [0.47480916, 0.58823529],
        [0.50076336, 0.57983193],
        [0.46717557, 0.37310924],
        [0.30534351, 0.30756303],
        [0.26259542, 0.26218487],
        [0.27175573, 0.29915966],
        [0.27175573, 0.28907563],
        [0.29770992, 0.28067227],
        [0.3648855 , 0.34621849],
        [0.39083969, 0.40168067],
        [0.41526718, 0.45714286],
        [0.3740458 , 0.38319328],
        [0.3740458 , 0.35462185],
        [0.44122137, 0.41176471],
        [0.46717557, 0.53277311],
        [0.46717557, 0.52268908],
        [0.49160305, 0.53277311],
        [0.45801527, 0.49579832],
        [0.49160305, 0.48571429],
        [0.51755725, 0.54117647],
        [0.50076336, 0.52268908],
        [0.47480916, 0.51428571],
        [0.51755725, 0.48571429],
        [0.57709924, 0.52268908],
        [0.56793893, 0.62521008],
        [0.61068702, 0.6907563 ],
        [0.61068702, 0.61680672]]))

In [155]:
print(X_scaled_train.shape[0], X_scaled_train.shape[1])
print(Y_scaled_train.shape[1])

47117 6
2

### Load RNN model

In [ ]:
rnn = load_model(os.path.join(model_dir, 'rnn_months_sin_1month_1024k_more.keras'))

In [159]:
rnn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_2 (LSTM)               (None, 1024)              4222976

 dense_2 (Dense)             (None, 2)                 2050

=================================================================
Total params: 4,225,026
Trainable params: 4,225,026
Non-trainable params: 0
_________________________________________________________________

### Train the model on entire dataset

In [193]:
rnn.fit(ts_generator, epochs=150)

Epoch 1/50
736/736 [==============================] - 315s 429ms/step - loss: 0.0053
Epoch 2/50
736/736 [==============================] - 340s 462ms/step - loss: 0.0053
Epoch 3/50
736/736 [==============================] - 392s 533ms/step - loss: 0.0053
Epoch 4/50
736/736 [==============================] - 340s 461ms/step - loss: 0.0053
Epoch 5/50
736/736 [==============================] - 368s 500ms/step - loss: 0.0053
Epoch 6/50
736/736 [==============================] - 335s 456ms/step - loss: 0.0053
Epoch 7/50
736/736 [==============================] - 329s 447ms/step - loss: 0.0053
Epoch 8/50
736/736 [==============================] - 332s 451ms/step - loss: 0.0053
Epoch 9/50
736/736 [==============================] - 331s 450ms/step - loss: 0.0053
Epoch 10/50
736/736 [==============================] - 335s 456ms/step - loss: 0.0053
Epoch 11/50
736/736 [==============================] - 313s 424ms/step - loss: 0.0053
Epoch 12/50
736/736 [==============================] - 310s 422ms/step - loss: 0.0053
Epoch 13/50
736/736 [==============================] - 316s 429ms/step - loss: 0.0053
Epoch 14/50
736/736 [==============================] - 300s 408ms/step - loss: 0.0053
Epoch 15/50
736/736 [==============================] - 299s 406ms/step - loss: 0.0053
Epoch 16/50
736/736 [==============================] - 301s 409ms/step - loss: 0.0053
Epoch 17/50
736/736 [==============================] - 308s 419ms/step - loss: 0.0053
Epoch 18/50
736/736 [==============================] - 307s 417ms/step - loss: 0.0053
Epoch 19/50
736/736 [==============================] - 321s 437ms/step - loss: 0.0053
Epoch 20/50
736/736 [==============================] - 328s 446ms/step - loss: 0.0053
Epoch 21/50
736/736 [==============================] - 318s 432ms/step - loss: 0.0053
Epoch 22/50
736/736 [==============================] - 321s 436ms/step - loss: 0.0053
Epoch 23/50
736/736 [==============================] - 345s 469ms/step - loss: 0.0053
Epoch 24/50
736/736 [==============================] - 349s 474ms/step - loss: 0.0053
Epoch 25/50
736/736 [==============================] - 324s 440ms/step - loss: 0.0053
Epoch 26/50
736/736 [==============================] - 326s 442ms/step - loss: 0.0052
Epoch 27/50
736/736 [==============================] - 316s 430ms/step - loss: 0.0052
Epoch 28/50
736/736 [==============================] - 324s 440ms/step - loss: 0.0052
Epoch 29/50
736/736 [==============================] - 329s 447ms/step - loss: 10.4665
Epoch 30/50
736/736 [==============================] - 318s 432ms/step - loss: 0.0053
Epoch 31/50
736/736 [==============================] - 322s 438ms/step - loss: 0.0053
Epoch 32/50
736/736 [==============================] - 316s 430ms/step - loss: 0.0053
Epoch 33/50
736/736 [==============================] - 328s 446ms/step - loss: 0.0052
Epoch 34/50
736/736 [==============================] - 305s 415ms/step - loss: 0.0052
Epoch 35/50
736/736 [==============================] - 307s 418ms/step - loss: 0.0052
Epoch 36/50
736/736 [==============================] - 304s 413ms/step - loss: 0.0052
Epoch 37/50
736/736 [==============================] - 314s 427ms/step - loss: 0.0052
Epoch 38/50
736/736 [==============================] - 334s 454ms/step - loss: 0.0052
Epoch 39/50
736/736 [==============================] - 335s 455ms/step - loss: 0.0052
Epoch 40/50
736/736 [==============================] - 327s 444ms/step - loss: 0.0052
Epoch 41/50
736/736 [==============================] - 325s 441ms/step - loss: 0.0052
Epoch 42/50
736/736 [==============================] - 320s 435ms/step - loss: 0.0052
Epoch 43/50
736/736 [==============================] - 324s 440ms/step - loss: 0.0052
Epoch 44/50
736/736 [==============================] - 322s 438ms/step - loss: 0.0052
Epoch 45/50
736/736 [==============================] - 323s 439ms/step - loss: 0.0052
Epoch 46/50
736/736 [==============================] - 338s 459ms/step - loss: 0.0052
Epoch 47/50
736/736 [==============================] - 341s 463ms/step - loss: 0.0051
Epoch 48/50
736/736 [==============================] - 361s 490ms/step - loss: 0.0052
Epoch 49/50
736/736 [==============================] - 348s 473ms/step - loss: 0.0052
Epoch 50/50
736/736 [==============================] - 374s 507ms/step - loss: 0.0052

### Save model and scalers to use in deployment

In [250]:
rnn.save(os.path.join(model_dir, 'rnn_months_sin_1month_1024k_more_entire.keras'))

In [253]:
joblib.dump(scaler_x, os.path.join(model_dir, 'scaler_x.joblib'))
joblib.dump(scaler_y, os.path.join(model_dir, 'scaler_y.joblib'))

['C:\\Users\\jocl0\\ABF\\Final_Project-main\\model\\scaler_y.joblib']